# Configuración de base de datos PostgreSQL (Usar driver asyncpg)
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/tabi_db

# Configuración de Redis para caché y Celery
REDIS_URL=redis://localhost:6379/0
